
@{
    ViewData["Title"] = "Agregar";
}

<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Calificaciones</title>
    <style>
        html {
            background-color: cornflowerblue;
        }

        body {
            position: relative;
            padding: 0 10px;
            background-color: #2f00ff3f;
            width: 50%;
            margin: auto;
        }

            body > h1 {
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 40px;
                text-align: center;
            }

        form {
            display: block;
            position: relative;
        }

            form > label {
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 20px;
                display: inline-block;
                width: 30%;
            }

            form > input[type=text] {
                display: inline-block;
                font-size: 20px;
                margin-bottom: 10px;
                width: 40%;
            }

            form > input[type=submit] {
                display: inline-block;
                background-color: tomato;
                border: 1px solid black;
                font-size: 20px;
                width: 20%;
            }

                form > input[type=submit]:hover {
                    cursor: pointer;
                    background-color: rgb(255, 164, 148);
                }

                form > input[type=submit]:active {
                    cursor: pointer;
                    background-color: rgb(131, 56, 43);
                }

        body > a {
            display: inline-block;
            width: 200px;
            height: 25px;
            text-align: center;
            padding-top: 2px;
            background-color: blue;
            color: white;
            text-decoration: none;
            font-size: larger;
        }

        #ac {
            width: 250px;
            display: block;
            position: absolute;
            right: 10px;
        }

            #ac > a {
                background-color: tomato;
                display: inline-block;
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                width: 120px;
                color: white;
                text-decoration: none;
                font-size: 20px;
            }

        #btnAg {
            position: absolute;
            background-color: darkblue;
            right: 10px;
        }
    </style>
</head>
<body>
    <h1>Agregar Alumno</h1>
    <form method="post" action="~/Docente/Alumnos/Agregar">
        <label>Nombre de usuario:</label>
        <input type="text" name="nombre" />
        <input type="submit" value="Agregar" />
        <p>@Html.ValidationSummary()</p>
    </form>
</body>
</html>

